<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Welcome to Your Dashboard, {{ student_info.Name }}</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile Information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name:</strong> {{ student_info.Name }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ student_info.email }}</li>
                    <li class="list-group-item"><strong>Education Level:</strong> {{ student_info.Education_Level }}</li>
                    <li class="list-group-item"><strong>Phone Number:</strong> {{ student_info.Phone_no }}</li>
                    <li class="list-group-item"><strong>School:</strong> {{ student_info.School }}</li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Courses Enrolled</h5>
                {% if student_info.course_enrolled.all %}
                    <ul class="list-group list-group-flush">
                        {% for course in student_info.course_enrolled.all %}
                            <li class="list-group-item">
                                <strong>Course Name:</strong> {{ course.name }} <br>
                                <strong>Instructor:</strong> {{ course.Instructor.Name }} <br>
                                <strong>Class Time:</strong> {{ course.class_time }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No courses enrolled.</p>
                {% endif %}
            </div>
        </div>


        
        <div class="text-center mt-4">
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rTGo60E7D/7vV9I5B/Zb1pmh8n0GcI3b0c1f49+rD+47B4y8Qp" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-JZmkY0kJ7p1oLqzW3C74w0aMZBj5O4H8AiLhoQ5Wk8Erqq9eW2pP5ipdM00gxB5R" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuE+Iew0Q2y4Fg4CZlk+q6CgtxNQ9Hc7dZpG6zW82M1v6wn5LRH1hG2hbz9" crossorigin="anonymous"></script>
</body>
</html>