<!DOCTYPE html>
<html lang="en">
<head>
   <title>Search</title>
</head>
<body>
    <a href="{% url 'userprofile:user_profile' %}" class="button">Go to User Profile</a>

    <form method="get" action="{% url 'courseEnroll:search_courses' %}">
        <label for="school">Filter by School:</label>
        <select id="school" name="school" onchange="this.form.submit()">
            <option value="">All Schools</option>
            {% for school in schools %}
                <option value="{{ school.id }}" {% if school.id == selected_school %}selected{% endif %}>{{ school.name }}</option>
            {% endfor %}
        </select>
    </form>

    {% if search_courses %}
        <h2>You searched for "{{ search_courses }}"</h2>
        <h2>Matched Courses</h2>

        <p>Action Value: {{ action }}</p>

        <form method="post" action="{% url 'courseEnroll:select_courses' %}">
            {% csrf_token %}
            
            <input type="hidden" name="action" value="{{ action }}">

            {% for course in courses %}
                <div>
                    <label>
                        <input type="checkbox" name="selected_courses" value="{{ course.course_id }}">
                        Select Course
                    </label>
                    <h3>
                        <a href="{% url 'courseEnroll:course_enrollment' course.course_id %}">
                            {{ course.name }} ({{ course.course_id }})
                        </a>
                    </h3>
                    <strong>Instructor:</strong> {{ course.Instructor.Name }}<br>
                    <strong>Description:</strong> {{ course.description }}<br>
                    <strong>Class Time:</strong> {{ course.start_time }} - {{ course.end_time }}<br>
                    <strong>Capacity:</strong> {{ course.grad_Capacity }}<br>

                    <strong>School:</strong> {{ course.school}}<br>

                    {% if action == 'waitlist' %}
                        <label>
                            <input type="checkbox" name="waitlist_{{ course.course_id }}">
                            Waitlist
                        </label>
                        <br>
                        <label>
                            Points Assigned:
                            <input type="number" name="points_{{ course.course_id }}" value="{{ course.points_assigned|default:"0" }}">
                        </label>
                    {% endif %}
                </div>
                <hr>
                <br>
            {% endfor %}
            
            {% if action == "enroll" %}
                <button type="submit" class="button" name="action" value="enroll">Enroll</button>
            {% elif action == "waitlist" %}
                <button type="submit" class="button" name="action" value="waitlist">Waitlist</button>
            {% endif %}
        </form>
    {% else %}
        <h2>Search for a course</h2>
    {% endif %}
</body>
</html>